<ion-header>
  <ion-navbar color="primary">
    <ion-title>Billing Address</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list radio-group [(ngModel)]="delivery_details">
    <ion-item-divider color="light">My Addresses</ion-item-divider>

    <ion-card *ngFor="let address of addressList$ | async">
      <ion-item>
        <ion-label>
          <h2>
            <b>{{address.name}}</b>
          </h2>
          <h3>{{address.community}}, {{address.houseNum}}</h3>
          <br/>
          <p>Phone : {{address.phone}} </p>
        </ion-label>
        <ion-radio checked="{{address.defaultAddress}}" value="{{address.community + ' House: ' + address.houseNum + ' Phone : ' + address.phone}}"></ion-radio>
      </ion-item>

      <ion-row>
        <ion-col>
          <button ion-button icon-left small (click)="editAddress(address)" color="primary" outline>
            Edit
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left small (click)="deleteAddress(address)" color="danger" outline>
            Delete
          </button>
        </ion-col>
        <ion-col>
          <button *ngIf="address.defaultAddress" ion-button icon-left small color="light" outline>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span ng-disabled="true">Default</span>
          </button>
          <button *ngIf="!address.defaultAddress" ion-button icon-left small (click)="makeDefaultAddress(address)" color="primary" outline>
            <span>Make Default</span>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

  </ion-list>
  <div *ngIf="(addressList$ | async)?.length >= 0" padding>
    <button ion-button full (click)="addNewAddress()">Add New Address</button>
  </div>
</ion-content>
