<ion-header>
  <ion-navbar color="primary">
    <ion-title>Checkout: Schedule</ion-title>
    <ion-buttons end>
      <button ion-button (click)="getNextAvailableSlot()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      {{ delTime }}
    </ion-card-header>
    <ion-card-content>

      <ion-segment [(ngModel)]="delTime" (ionChange)="getNextAvailableSlot($event)">
        <ion-segment-button value="ASAP">
          <ion-icon name="timer"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Scheduled">
          <ion-icon name="clock"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Recurring">
          <ion-icon name="repeat"></ion-icon>
        </ion-segment-button>
      </ion-segment>

    </ion-card-content>
  </ion-card>

<div [ngSwitch]="delTime">

  <ion-card class="adv-map" *ngSwitchCase="'ASAP'">

    <div style="position: relative">
      <img src="assets/img/advance-card-map-madison.png">
      <!-- <ion-fab right top>
          <button ion-fab class="fab-map">
            <ion-icon name='pin'></ion-icon>
          </button>
        </ion-fab> -->
    </div>
    <ion-item>
      <ion-icon color="subtle" large item-start name='clock'></ion-icon>
      <h2>Your order will be delivered in</h2>
      <p>30 Min approx</p>
    </ion-item>

    <!-- <ion-item actions>
        <span ion-text item-start color="secondary" class="item-bold">18 min</span>
        <span ion-text item-start color="subtle">(2.6 mi)</span>
        <button ion-button color="primary" clear item-end icon-start>
          <ion-icon name='navigate'></ion-icon>
          Start
        </button>
      </ion-item> -->

  </ion-card>

  <ion-card class="adv-map" *ngSwitchCase="'Scheduled'">

    <div style="position: relative">
      <img src="assets/img/advance-card-map-madison.png">
    </div>
    <ion-list>
      <ion-item>
          <ion-icon color="subtle" large item-start name='clock'></ion-icon>
          <h2>Next available delivery slot</h2>
          <p *ngIf="slotFormatted.from">from {{slotFormatted.from}} to {{slotFormatted.to}}</p>
          <p *ngIf="!slotFormatted.from">No delivery slots available</p>
      </ion-item>

      <!-- <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.dateStart"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
      </ion-item> -->

      <!-- <ion-item>
          <ion-label>Ends</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.timeEnds"></ion-datetime>
        </ion-item> -->


    </ion-list>

  </ion-card>

  <ion-card class="adv-map" *ngSwitchCase="'Recurring'">

    <div style="position: relative">
      <img src="assets/img/advance-card-map-madison.png">
    </div>

    <h2>Coming Soon !!</h2>

    <!-- <ion-list>

      <ion-item>
        <ion-label>Date From</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.dateStart"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Date To</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.dateEnd"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
      </ion-item>

      <button ion-item>
        <ion-label>Repeat</ion-label>
        <ion-note item-end>Never</ion-note>
      </button>

    </ion-list> -->

  </ion-card>

</div>

</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button ion-button block round (click)="pushPage()">Next: Select Address</button>
  </ion-toolbar>
</ion-footer>
