<ion-nav [root]="rootPage">
  <ion-buttons end>
    <button ion-button icon-left routerLink="/products/cart">
      <ion-icon name="cart"></ion-icon>
        <!-- {{ (cartList$ | async)?.length }} TODO: Not the array length; should be all quantity -->
        <!-- {{(cartItems$ | async)?.length}} -->
    </button>
  </ion-buttons>
</ion-nav>

<!-- <ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>

<ion-item (click)="logout()" *ngIf="auth.authenticated">
	<ion-icon name="log-out" item-left></ion-icon>
	Log out
</ion-item>

<ion-item (click)="login()" *ngIf="!auth.authenticated">
	<ion-icon name="log-in" item-left></ion-icon>
	Log in
</ion-item> -->
